@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Colores de aro de fuego */
  --background-color: #469cf6;
  --background-color2: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  background: -webkit-linear-gradient(
    -135deg,
    var(--background-color),
    var(--background-color2)
  );
}

.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  width: 900px;
  height: 500px;
  padding: 80px 50px 50px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
  border-radius: 25px;
  align-content: center;
}

/* imagen */
.content img {
  position: relative;
  width: 300px;
  transform: translate(0, -50%);
  left: 10%;
  top: 50%;
}

/* form */

.content .login-form {
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 5%;
  top: 50%;
  transform: translate(0%, -50%);
  height: 200px;
  width: 400px;
}

.content .login-form h2 {
  font-size: 34px;
  font-weight: bold;
  font-weight: 500;
  color: #333;
  margin: 20px 0 10px;
  top: 50%;
  text-align: center;
}

/* Login login-form-btn */

.content button {
  position: relative;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border-color: transparent;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.content button:hover {
  background: #333;
}

.content .form-control-username {
  font-size: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border-color: transparent;
}
.content .form-control-password {
  font-size: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 0%);
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border-color: transparent;
}
