source/Pipfile.lock
Docs/02 - HTML code for inspiration/Live Demo Preview - DashboardPack_files

Docs/02 - HTML code for inspiration/AdminLTE-3.1.0
Docs/.~lock.Diseño UI - Bitacora.odt#
Docs/03 - Logo/Logo 1/.~lock.Logo 1.odp#
source/static/images 2

Docs/02 - HTML code for inspiration/
