source/Pipfile.lock
Docs/02 - HTML code for inspiration/Live Demo Preview - DashboardPack_files

Docs/02 - HTML code for inspiration/AdminLTE-3.1.0
Docs/.~lock.Diseño UI - Bitacora.odt#
Docs/03 - Logo/Logo 1/.~lock.Logo 1.odp#
source/static/images 2


Docs/Documentos Técnicos/02 - Requerimientos/01 - Levantamiento/.~lock.Levantamiento de requerimeinto - DS-RQ-01-V2.odt#
source/Backend/*/__pycache__/
source/Backend/*/*/__pycache__/
source/Backend/*/*/0*.py

source/Backend/*/*/0*.py
source/Backend/static/css/login/
source/Backend/Pipfile.lock
Docs/01 - Documentos guías/Software existente/
Docs/.~*.odt#
Docs/.*_hidden*
