{% extends 'base.html' %} 
{% load static %}

{% block title %}
<title>Home</title>

{% endblock title %}

{% block css %} 
{% endblock css %}

{% block javascript %}
{% endblock javascript %}




{% block content %} 
<div class="LHS_pane">
    <div class="wrapper">
        <div class="row m-3">
            <button type="button" class="btn btn-light">
                <h3 class="bluetext"><strong>Cobrar Hoy</strong></h3> 
            </button>
        </div>
        <div class="row m-3">
            <button type="button" class="btn btn-light">
                <h3 class="bluetext"><strong>Vencidos</strong></h3> 
            </button>
        </div> 
        <div class="row m-3">
            <button type="button" class="btn btn-light">
                <h3 class="bluetext"><strong>Totales</strong></h3>
            </button>
        </div> 
    </div>
</div>
<div class="middle_image">
    <div class="wrapper">
        <img src="{% static 'images/home/logo2.png' %}"  alt=""/>
    </div>
</div>
<div class="RHS_pane ">
    <div class="wrapper">
        <div class="row m-3">
            <button type="button" class="btn btn-light">
                <h3 class="bluetext"><strong>Historicos eliminados</strong></h3>
            </button>
        </div>
    </div>
</div>
{% comment %} #TODO: debo hacer las cards a mi manera y dejar de usar tanto Bootstrap {% endcomment %}
<div class="dock row justify-content-md-center fixed-bottom">
             
    <div class="row m-3" style="width: 10rem;height:7rem;">
        <button type="button" class="btn btn-light" onclick="location.href='{% url 'clients-home' %}'" >
            <img src="{% static 'images/home/people.png' %}" class="mx-auto mt-3" alt="" width= "60" />
            <h4 class="bluetext"><strong>Clientes</strong></h4>
        </button>
    </div> 
    <div class="row m-3" style="width: 10rem;height:7rem; ">
        <button type="button" class="btn btn-light" onclick="location.href='{% url 'loans-home' %}'" >
            <img src="{% static 'images/home/contract.png' %}" class="mx-auto mt-3" alt="" width= "60" />
            <h4 class="bluetext"><strong>Prestamos</strong></h4>
        </button>
    </div> 
    <div class="row m-3" style="width: 10rem;height:7rem;">
        <button type="button" class="btn btn-light" onclick="location.href='{% url 'adicionales-home' %}'" >
            <img src="{% static 'images/home/plus.png' %}" class="mx-auto mt-3" alt="" width= "60" />
            <h4 class="bluetext"><strong>Adicionales</strong></h4>
        </button>
    </div> 
    <div class="row m-3" style="width: 10rem;height:7rem;">
        <button type="button" class="btn btn-light" onclick="location.href='{% url 'abonos-home' %}'" >
            <img src="{% static 'images/home/money.png' %}" class="mx-auto mt-3" alt="" width= "60" />
            <h4 class="bluetext"><strong>Abonos</strong></h4>
        </button>
    </div> 
</div>


{% endblock content %}



