{% extends '_base.html' %} {% load static %} {% block title %}
<title>Add loan | Django site admin</title>
{% endblock title %} {% block css %} {% endblock css %} {% block javascript %}
<script src="{% static 'js/adicionales/tablas_adicionales.js' %}"></script>

<script src="{% static 'js/client/clients-pie-charts.js' %}"></script>
{% comment %}
<script src="{% static 'js/client/clients-bar-charts.js' %}"></script>
{% endcomment %} {% endblock javascript %} {% block content %}

<div class="Superior">
  <div class="row float-left mt-1 ml-3 mb-1 mr-1">
    <h2 style=""><strong>Resumen de Clientes</strong></h2>
  </div>
  <div class="row float-right mt-1 ml-3 mb-1 mr-1">
    <a class="p-2 text-dark" href="{% url 'adicionales-crear' %}">
      <img src="{% static 'images/base/add.png' %}" alt="" height="25" />
    </a>
    <a class="p-2 text-dark" href="{% url 'clients-buscar' %}">
      <img src="{% static 'images/base/search3.png' %}" alt="" height="25" />
    </a>
  </div>
</div>

<div class=" " style="display: flex; margin-left: 50px">
  <div class="col-7 card ml-2 mr-2">
    <div class="card-body">
      <h4 class="card-title" style="margin-left: 250px">Adicionales Regitrados</h4>
      <p class="card-description" style="margin-left: 250px">
        Información básica de Adicionales
      </p>

      <div
        class="tablewrapper"
        style="width: 800px; margin-left: 10px; max-height: 400px"
      >
        <table class="table">
          <thead>
            <tr class="h4 text-center">
              <th scope="col">ID Cliente</th>
              <th scope="col">Nombre cliente</th>
              <th scope="col">Codigo de Adicional</th>
              <th scope="col">Monto Adeudado</th>
              <th scope="col">Fecha de Adicional</th>
              <th scope="col">Monto Adicionado</th>
            </tr>
          </thead>
          <tbody id="id_tabla_prestamo" class="h4 text-center">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4.7 flex-box" >
    
    <div class="card " style="margin-right:20px">
      <div class="card-body">
        <h4 class="card-title text-center">Cantidad de clientes creados</h4>
        <p class="card-description text-center"> Entre Enero y mayo de 2022</p>
        <div class="chart-container" style=" margin: 50px; ">
          <canvas id="bar-chart" ></canvas>
        </div>
      </div>
    </div>
        <div class="card" style="margin-right:20px" >
      <div class="card-body">
        <h4 class="card-title text-center">Cantidad de clientes creados</h4>
        <div class="chart-container" style="width: 30%; margin-left: 160px">
          <canvas height="60px" id="pie-chart"></canvas>
        </div>
      </div>
  </div> 

</div>

{% endblock content %}