{% extends '_base.html' %} {% load static %} {% block title %}
<title>Préstamos | Home</title>
{% endblock title %} 



{% block content %}



<div class="Superior">
  <div class="row float-left  ml-3 mb-1 mr-1">
    <h2><strong>Resumen de Prestamos</strong></h2>
    <div class="row" style="margin-left:300px">
      <h3><strong><a href="{% url 'loans-vencidos' %}" style="color: #111;margin-right:20px;font-size:20px" > Vencidos<a/></strong></button></h3>
      <h3><strong><a href="{% url 'loans-cobrar_hoy' %}" style="color: #111; font-size:20px" >Cobrar Hoy</a></strong></h3>

    </div>

  </div>
    


  <div class="float-right  ml-3 mb- mr-1">
    <a class="p-2 text-dark" href="{% url 'loans-crear' %}">
      <img src="{% static 'images/base/add.png' %}" alt="" height="25"/>
    </a>
    
    <a class="p-2 text-dark" href="{% url 'loans-buscar' %}">
      <img src="{% static 'images/base/search3.png' %}" alt="" height="25"/>
    </a>
  </div>
</div>

<div class=" "style="display: flex; margin-left: 50px">
  <div class="col-7 card ml-3 mr-3 ">
    <div class="card-body">
      <h4 class="card-title" style="margin-left: 250px">Prestamos Regitrados</h4>
      <p class="card-description" style="margin-left: 250px"> Información básica de Prestamo </p>

      <div class="tablewrapper" style="width: 800px;  max-height: 400px">
        <table class="table">
          <thead>
            <tr class="h4 text-center">
              <th scope="col">Codigo prestamo</th>
              <th scope="col">Monto prestado</th>
              <th scope="col">Monto adeudado</th>
              <th scope="col">Numero de meses</th>
              <th scope="col">ID Cliente</th>
              <th scope="col">Nombre cliente</th>
            </tr>
          </thead>
          <tbody id="id_tabla_prestamo" class="h4 text-center">
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="col-4.7 flex-box" >
    
    <div class="card " style="margin-right:20px">
      <div class="card-body">
        <h4 class="card-title text-center">Cantidad de Prestamos creados</h4>
        <p class="card-description text-center"> Entre Enero y mayo de 2022</p>
        <div class="chart-container" style=" margin: 50px; ">
          <canvas id="bar-chart" ></canvas>
        </div>
      </div>
    </div>
        <div class="card" style="margin-right:20px" >
      <div class="card-body">
        <h4 class="card-title text-center">Cantidad de Prestamos creados</h4>
        <div class="chart-container" style="width: 30%; margin-left: 160px">
          <canvas height="60px" id="pie-chart"></canvas>
        </div>
      </div>
  </div> 
</div>
{% comment %} estoy tomando el ejemplo de clientes, debo hacer uno propio para prestamos {% endcomment %}
<script src="{% static 'js/client/clients-pie-charts.js' %}"></script>
<script src="{% static 'js/loan/tabla_loan.js' %}"></script>
{% endblock content %}