{% extends '_base.html' %} 
{% load static %}

{% block title %}
<title>Add loan | Django site admin</title>
{% endblock title %}

{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/loan/base.css' %}"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/loan/forms.css' %}"
/>

<meta
  name="viewport"
  content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"
/>

<meta name="robots" content="NONE,NOARCHIVE" />

{% endblock css %} 

{% block javascript %}
{% endblock javascript %}

{% block header%}
      <!-- Header -->
      <div id="header">
        <div id="branding">
          <h1 id="site-name">
            <a href="http://127.0.0.1:8000/">Pawnshop</a>
          </h1>
        </div>
        <div id="user-tools">
          {% if user.is_authenticated %} 
          Hi <strong>{{ user.username }}</strong>!
          <p><a href="{% url 'logout' %}">logout</a></p>
          {% endif %} 
        </div>
      </div>
      <!-- END Header -->
{% endblock header%}
    


{% block content %} 
  <!-- Content -->
  <div id="content" class="colM">
    <h1>Add loan</h1>

    <div id="content-main">
      <form method="post" id="loan_form" novalidate="">
        {% csrf_token %}
        <div>
          <fieldset class="module aligned">
            <div class="form-row field-cliente">
              <div>
                <label class="required" for="id_cliente"
                  >Cliente:</label
                >

                <div class="related-widget-wrapper">
                  <select name="cliente" required="" id="id_cliente">
                    <option value="" selected="">---------</option>
                    {% for cliente in clientes %}
                    <option value="{{cliente.pk}}">{{cliente.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <div class="form-row field-monto_prestado">
              <div>
                <label class="required" for="id_monto_prestado"
                  >Monto prestado:</label
                >

                <input
                  type="number"
                  name="monto_prestado"
                  value="0"
                  class="vIntegerField"
                  min="0"
                  required=""
                  id="id_monto_prestado"
                />
              </div>
            </div>

            <div class="form-row field-interes">
              <div>
                <label class="required" for="id_interes"
                  >Interes:</label
                >

                <input
                  type="number"
                  name="interes"
                  value="0"
                  step="any"
                  required=""
                  id="id_interes"
                />
              </div>
            </div>

            <div class="form-row field-num_meses">
              <div>
                <label class="required" for="id_num_meses"
                  >Num meses:</label
                >

                <input
                  type="number"
                  name="num_meses"
                  value="1"
                  class="vIntegerField"
                  min="0"
                  required=""
                  id="id_num_meses"
                />
              </div>
            </div>

            <div class="form-row field-tipo_pago">
              <div>
                <label class="required" for="id_tipo_pago"
                  >Tipo pago:</label
                >

                <div class="related-widget-wrapper">
                  <select
                    name="tipo_pago"
                    required=""
                    id="id_tipo_pago"
                  >
                    <option value="" selected="">---------</option>

                    {% for tipo_pago in tipo_pagos %}
                    <option value="{{tipo_pago.pk}}">{{tipo_pago.tipo}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <div class="form-row field-monto_a_pagar">
              <div>
                <label class="required" for="id_monto_a_pagar"
                  >Monto a pagar:</label
                >

                <input
                  type="number"
                  name="monto_a_pagar"
                  value="0"
                  class="vIntegerField"
                  min="0"
                  required=""
                  id="id_monto_a_pagar"
                />
              </div>
            </div>

            <div class="form-row field-num_cuotas">
              <div>
                <label class="required" for="id_num_cuotas"
                  >Num cuotas:</label
                >

                <input
                  type="number"
                  name="num_cuotas"
                  value="1"
                  class="vIntegerField"
                  min="0"
                  required=""
                  id="id_num_cuotas"
                />
              </div>
            </div>

            <div class="form-row field-deadline">
              <div>
                <label class="required" for="id_deadline"
                  >Deadline:</label
                >

                <input
                  type="text"
                  name="deadline"
                  class="vDateField"
                  size="10"
                  required=""
                  id="id_deadline"
                  spellcheck="false"
                  data-ms-editor="true"
                />
                
              </div>
            </div>
          </fieldset>

          <div class="submit-row">
            <input
              type="submit"
              value="Save"
              class="default"
              name="_save"
            />

            <input
              type="submit"
              value="Save and add another"
              name="_addanother"
            />

          <script
            id="django-admin-form-add-constants"
            src="{% static 'js/loan/change_form.js' %}"
            data-model-name="loan"
            async=""
          ></script>

          <script
            id="django-admin-prepopulated-fields-constants"
            src="{% static 'js/loan/prepopulate_init.js' %}"
            data-prepopulated-fields="[]"
          ></script>
        </div>
      </form>
    </div>

    <br class="clear" />
  </div>
  <!-- END Content -->
{% endblock content %}

{% block footer %} 
<div id="footer"></div>
{% endblock footer %}
