{% extends 'base.html' %} {% load static %} {% block title %}
<title>Préstamos | Home</title>
{% endblock title %} {% block content %}
<h2>Este es el Resumen de Prestamos</h2>
<a class="p-2 text-dark" href="{% url 'loans-crear' %}">Crear préstamo</a>
<a class="p-2 text-dark" href="{% url 'loans-buscar' %}">Buscar préstamo</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo prestamo</th>
      <th scope="col">Monto prestado</th>
      <th scope="col">Monto a pagar</th>
      <th scope="col">Numero de meses</th>
      <th scope="col">ID Cliente</th>
      <th scope="col">Nombre cliente</th>
    </tr>
  </thead>
  <tbody id="id_tabla_prestamo">
  </tbody>
</table>
<script src="{% static 'js/loan/tabla_loan.js' %}"></script>
{% endblock content %}