{% extends 'base.html' %} {% load static %} {% block title %}
<title>Add loan | Django site admin</title>
{% endblock title %} {% block css %} {% endblock css %} {% block javascript %}
{% endblock javascript %} {% block content %}
<h2>Este es el Resumen de Clientes</h2>
<a class="p-2 text-dark" href="{% url 'abonos-crear' %}">Crear Abono</a>
<a class="p-2 text-dark" href="{% url 'abonos-buscar' %}">Buscar Abono</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
{% endblock content %}
