{% extends 'base.html' %} {% load static %} {% block title %}
<title>Add loan | Django site admin</title>
{% endblock title %} {% block css %} {% endblock css %} {% block javascript %}
{% endblock javascript %} {% block content %}
<h2>Este es el Resumen de Clientes</h2>
<a class="p-2 text-dark" href="{% url 'abonos-crear' %}">Crear Abono</a>
<a class="p-2 text-dark" href="{% url 'abonos-buscar' %}">Buscar Abono</a>
<table class="table">
  <thead>
    <tr class="h4 text-center">
      <th scope="col">ID Cliente</th>
      <th scope="col">Nombre cliente</th>
      <th scope="col">Codigo prestamo</th>
      <th scope="col">Monto prestado</th>
      <th scope="col">Fecha de abono</th>
      <th scope="col">Monto abonado</th>
    </tr>
  </thead>
  <tbody id="id_tabla_prestamo" class="h4 text-center">
  </tbody>
  </table>
  <script src="{% static 'js/abonos/tablas_abono.js' %}"></script>
{% endblock content %}
